.table-responsive {
  height: 640px;
  overflow: scroll;
}

#CardioPRsContainer {
  height: 773px;
  width: 410px;
  margin-top: 8px;
  float: left;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#CardioPRsTable th {
  background: #343a40;
  color: #fff;
  position: sticky;
  top: 0;
  padding: 0 10px 0 10px;
}

#CardioPRsTable td {
  padding: 10px;
}

#CardioPRsTableLinkBlock1 {
  padding-bottom: 15px;
  float: left;
  padding-left: 40px;
}

#CardioPRsTableLinkBlock2 {
  padding-bottom: 15px;
  float: right;
  padding-right: 40px;
}
