.table-responsive {
  height: 640px;
  overflow: scroll;
}

#CardioLogContainer {
  height: 773px;
  width: 410px;
  margin-top: 8px;
  float: left;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#CardioLogTable th {
  background: #343a40;
  color: #fff;
  position: sticky;
  top: 0;
  padding: 0 10px 0 10px;
}

#CardioLogTable td {
  padding: 10px;
}

#CardioLogTableLinkBlock {
  padding-bottom: 15px;
}
