#CatFacts {
  background-color: #ffffff;
}

.CatFactsContainer {
  margin-top: 30px;
}

#CatFactsTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#CatFactsTable td {
  padding: 10px;
}
