#Comedy {
    margin-left: auto;
    margin-right: auto;
    max-width: 828px;
    background-color: #ffffff;
}

#LeftComedyColumn {
    float: left;
    width: 410px;
    margin-right: 8px;
}

#RightComedyColumn {
    float: right;
    width: 410px;
}