.table-responsive {
    height: 450px;  
    overflow: scroll;
}

.FitnessTracker a {
    display: block;
}

.FitnessTrackerContainer {
    float: right;
    width: 620px;
}

#FitnessTrackerTable {
    margin-left: auto;
    margin-right: auto;
}

#FitnessTrackerTable td {
    padding: 10px;
}

#WeeklyContainer {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#WeeklyTable th {
    background: black;
    color: #fff;
    position: sticky;
    top: 0;
    padding: 0 10px 0 10px;
}

#WeeklyTable td {
    padding: 10px;
}

#CurrentDayOfWeek {
    padding: 20px;
}

.FitnessTracker {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
}