#FitnessTracker {
  margin-left: auto;
  margin-right: auto;
  max-width: 828px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#FitnessTracker a {
  display: block;
}

#CurrentDayOfWeek {
  padding: 20px;
}

#LeftFitnessColumn {
  float: left;
  width: 410px;
  margin-right: 8px;
}

#RightFitnessColumn {
  float: left;
  width: 410px;
}
