#HomeTitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 828px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#LeftHomeColumn {
  float: left;
  width: 410px;
  margin-right: 8px;
}

#RightHomeColumn {
  float: left;
  width: 410px;
}

#LeftSidebar {
  /* background-image: linear-gradient(to right, white, #d7e1ec, white); */
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#RightSidebar {
}
