#LoginSignIn amplify-authenticator {
    --container-align: initial;
}

#LoginSignIn {
    --container-align: initial;
    overflow: visible;
    height: 0;
}

#UserGreeting {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
}

amplify-sign-out#LoginSignOut {
    float: right;
    padding: 0 0 0 10px;
    vertical-align: auto;
}

#LoginDiv {
    position: relative;
    --container-align: initial;
    overflow: visible;
    height: 0;
    background-color: #212529;
}

#LoginSignOut {
    position: relative;
    --container-align: initial;
    overflow: visible;
    height: 0;
    background-color: #212529;
}

/* #LoginSignOut amplify-button {
    height: 100px;
    width: 100px;
} */

div#LoginSignOut amplify-sign-out#SignOutButton {
    min-width: 0;
    --padding: 0;
}

/* div#LoginSignOut {
    min-width: 0;
    --padding: 10px;
} */

#LoginForm {
    position: relative;
    --container-align: initial;
    overflow: visible;
    height: 0;
}

/* #LoginToggle {
    display: inline-block;
    background-color: #55cc66;
    margin-right: 50px;
    padding: 5px;
} */