#LoginSignIn {
    height: 0;
    margin-top: 38px;
}

#LoginSignIn amplify-authenticator {
    --container-align: initial;
}

#UserGreeting {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-top: 12px;
}

#LoginSignOut {
    float: right;
}

#LoginToggle {
    float: right;
}