.table-responsive {
  height: 450px;  
  overflow: scroll;
}

#NytArticles {
  margin-top: 30px;
}

#NytArticlesTable th {
  background: #343a40;
  color: #fff;
  position: sticky;
  top: 0;
}

#NytArticlesTable td, #NytArticlesTable th {
    padding: 10px;
}