.nytContainer {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#NewYorkTimes {
  height: 773px;
  width: 410px;
  margin-top: 8px;
  float: left;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
