.table-responsive {
  height: 500px;  
  overflow: scroll;
}

#NytContainer {
  margin-top: 30px;
}

#NytTable th {
  background: black;
  color: #fff;
  position: sticky;
  top: 0;
}

#NytTable td {
    padding: 10px;
}