#RandomJoke {
    background-color: #ffffff;
}

.JokeContainer {
    margin-top: 30px;
}

#JokeTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#JokeTable td {
    padding: 10px;
}

#Spoiler {
    color: black; 
    background-color: black;
}

#Spoiler:hover {
    color: white; 
}

#AnotherJoke {
    margin-top: 30px;
}