#StockTicker {
    padding-top: 30px;
    height: 652px;
    float: left;
    width: 400px;
}

#StockTicker button {
    margin-top: 26px;
}

@media only screen and (max-width: 800px) {
    #StockTicker {
        padding-top: 60px;
    }
}