.table-responsive {
  height: 450px;
  overflow: scroll;
}

#Stock {
  margin-top: 30px;
}

#StockTable th {
  background: #343a40;
  color: #fff;
  position: sticky;
  top: 0;
}

#StockTable td,
#StockTable th {
  padding: 10px;
}
