.TrainingMaxContainer {
    float: left;
    width: 400px;
    padding-right: 20px;
}

#TrainingMaxTable {
    margin-left: auto;
    margin-right: auto;
}

#TrainingMaxTable td {
    padding: 10px;
}