#TrainingMaxContainer {
    background-color: #ffffff;
    margin-top: 8px;
}

#TrainingMaxTable {
    margin-left: auto;
    margin-right: auto;
}

#TrainingMaxTable td {
    padding: 10px;
}

#TrainingMaxTableLinkBlock {
    padding-bottom: 10px;
}