.ViewTrainingMaxHistoryContainer {
    margin-top: 30px;
}

#ViewTrainingMaxHistoryTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#ViewTrainingMaxHistoryTable td {
    padding: 10px;
}