.WeatherContainer {
    margin-top: 30px;
}

#WeatherTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#WeatherTable td {
    padding: 10px;
}

#Weather button {
    margin-top: 10px;
}

#Weather {
    height: 402px;
}