.table-responsive {
    height: 450px;  
    overflow: scroll;
}

#WeeklyTable th {
    background: #343a40;
    color: #fff;
    position: sticky;
    top: 0;
    padding: 0 10px 0 10px;
}

#WeeklyTable td {
    padding: 10px;
}

#WeeklyFitnessTableLinkBlock {
    padding-bottom: 10px;
}