.table-responsive {
    height: 640px;  
    overflow: scroll;
}

#WeeklyFitnessTable {
    background-color: #ffffff;
    margin-top: 8px;
}

#WeeklyTable th {
    background: #343a40;
    color: #fff;
    position: sticky;
    top: 0;
    padding: 0 10px 0 10px;
}

#WeeklyTable td {
    padding: 10px;
}

#WeeklyFitnessTableLinkBlock {
    padding-bottom: 10px;
}

.Sunday {
    background: lightcoral;
}

.Monday {
    background: lightpink;
}

.Tuesday {
    background: lightsalmon;
}

.Wednesday {
    background: lightyellow;
}

.Thursday {
    background: lightseagreen;
}

.Friday {
    background: lightslategray;
}

.Saturday {
    background: lightskyblue;
}