.table-responsive {
    height: 450px;  
    overflow: scroll;
}

#WeeklyContainer {
    width: 400px;
/*     margin-left: auto;
    margin-right: auto; */
    float: right;
}

#WeeklyTable th {
    background: black;
    color: #fff;
    position: sticky;
    top: 0;
    padding: 0 10px 0 10px;
}

#WeeklyTable td {
    padding: 10px;
}