#XkcdComic {
    padding-top: 30px;
    float: left;
}

.XkcdContainer {
    margin-top: 30px;
}

#XkcdTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#XkcdTable td {
    padding: 10px;
}