#XkcdComic {
    margin-top: 8px;
    float: left;
    background-color: #ffffff;
    width: 828px;
}

.XkcdContainer {
    margin-top: 30px;
}

#XkcdTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#XkcdTable td {
    padding: 10px;
}