/* #Authbar {
    height: 100px;
}
 */
div #SignIn {
    height: 0;
    min-height: auto !important;
}

div .auth-container {
    min-height: auto !important;
}

#SignOut {
    height: 100%;
}

.auth-container div {
    min-height: 0 !important;
    height: 0;
}

#AuthSignIn {
    min-height: 0;
}

div .auth-container slot {
    min-height: 0 !important;
}

div #auth-container {
    min-height: 0 !important;
}

#auth-container div {
    min-height: 0 !important;
}

div #SignOut {
    font-size: 25px;
    color: #818181;
}